<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>App</title>
    <link href='css/styles.css' rel='stylesheet' />
  </head>
  <body>
    <h1>SSR page</h1>
    controller-return-data?
    {{ message }}


    <script src='js/scripts.js'></script>
  </body>
</html>